body {
  font-family: "Century Gothic", "Lato", sans-serif;
}

a {
  text-decoration: none;
}

.startimg {
  background-image: url("../img/csgo.jpg");
}

.slide{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.slide-1 {
  background-image: url("../img/galil.jpg");
}
.slide-2 {
  background-image: url("../img/m4a1s.jpg");
}
.slide-3 {
  background-image: url("../img/ak.jpg");
}
.slide-4 {
  background-image: url("../img/m4.jpg");
}
.slide-5 {
  background-image: url("../img/awp.jpg");
}

.txtposition {
  position: absolute;
  top: 200px;
}
.cs-tabs,
.cs-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  text-align: center;
  padding: 0 2em;
}
.cs-tabs h1,
.cs-slide h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
  color: white;
  text-shadow: 3px 3px 4px #000
}
.cs-tabs h2,
.cs-slide h2 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
  color: white;
  text-shadow: 6px 3px 4px #000
}
.cs-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
}

.cs-tabs-container--top {
  position: fixed;
  top: 0;
}

.cs-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}
.cs-tab:hover {
  color: white;
  background: rgb(149,149,149);
  transition: all 0.5s ease;
}

.cs-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: rgb(149,149,149);
  transition: left 0.3s ease;
}

@media (min-width: 800px) {
  .cs-tabs h1,
  .cs-slide h1 {
    font-size: 3rem;
  }
  .cs-tabs h3,
  .cs-slide h3 {
    font-size: 1rem;
  }

  .cs-tab {
    font-size: 1rem;
  }
}
